.container-fluid {
	width:100%;
	height:100%;
	margin:0;
	overflow:hidden;}
.row {
	width:100%;
	height:100%;
	margin:0;}
.bgimg{padding: 0;
	float:none;
	margin:0 auto;
	margin-top:11.63%;
	width:76.72%;
}
.rule{position: absolute;top:35%;right:18%;width: 38px;height: 38px;}
.start{position: absolute;bottom: 15px;}
.start img{width:40%;}
.hplogo{position: absolute;top: 5px;padding:0;}
.hplogo img{width: 10%;}


.box{background-color: #ffffff;width: 80%;margin-top:30px;}
.box .rule-content{padding: 15px;padding-top:5px;margin: 4px;border: 1px dashed #afafae;}
.rule-content h5{height: 28px;line-height: 28px;font-size: 1.5em;color: #a61400; margin: 5px 0; padding-left: 30px;background-size: 20px 20px; background: url(../../img/m/monkey/rule-1.png) no-repeat left;}
.rule-content .img-line img{height: 2px;width: 100%;}
.rule-content ol{padding-left: 20px;padding-top: 10px;}
.rule-content .close{position: absolute;right: 0;top: 30px;right: 10%;}
.rule-content .close img{height: 40px;width:40px;padding: 10px;}


