.modal-lg {width: 90%;max-width: 1080px;}

.depot-none {text-align: center; height: 50px;line-height: 50px;display: block}
.depot-list {font-size: 14px;}
.depot-list a {color: #000;}
.depot-list .depot-col {margin-bottom: 15px;width: 100%;}
.depot-list .depot-col .items{border:1px #e7e7eb solid;border-radius: 4px;position: relative;}
.depot-list .depot-col .item {border-top: 1px solid #e7e7eb;padding: 0 10px;position: relative;}
.depot-list .depot-col .item:first-child {border-top: 0 none;}
.depot-list .depot-col .options {border-top: 1px solid #e7e7eb;height:50px; line-height:50px;background-color:#f4f4f4;}
.depot-list .depot-col .options .tool{border-right: 1px solid #e7e7eb;}
.depot-list .depot-col .options .tool a{width:90%;margin: 0 auto;display: block;}
.depot-list .depot-col .options .tool:last-child{border-right: 0 none;}
.depot-list .selected .depot-col .options {background-color: #f7be64;}
.depot-list .selected .depot-col .options a{color: #fff;}

.depot-list .depot-col-news .item .title {overflow:hidden;font-size:1em;height:58px;line-height:58px;white-space:nowrap;width:70%;float:left;margin:0;}
.depot-list .depot-col-news .item .cover {height: auto;width:30%;float:right;overflow: hidden;text-align:right;}
.depot-list .depot-col-news .item .cover img{width:58px;height:58px;}
.depot-list .depot-col-news .item .description{display:none;font-size:0.8em;word-wrap:break-word;word-break:break-all;color:#888;}
.depot-list .depot-col-news .item:first-child .title {float:none;font-size:16px;height:20px;line-height:20px;width:100%;margin: 10px 0;}
.depot-list .depot-col-news .item:first-child .description {display:block;padding:10px 0;}
.depot-list .depot-col-news .item:first-child .cover {float:none;height:160px;width:100%;overflow: hidden;}
.depot-list .depot-col-news .item:first-child .cover img{width:100%;height: auto;}
.depot-list .depot-col-news.multi .item:first-child .title {
	position: absolute;bottom: 0px;left: 0px;right: 0px;height: 30px;width: auto;line-height:30px;padding: 0 10px;margin: 0;
	background: rgba(0, 0, 0, 0.6) !important;color: #fff;
	filter: progid: DXImageTransform.Microsoft.gradient(GradientType = 0, startColorstr = '#99000000', endcolorstr = '#99000000');
}
.depot-list .depot-col-news.multi .item:first-child .title a {color: #fff;}
.depot-list .depot-col-news.multi .item:first-child .description {display: none;}

.depot-list .depot-col-text .content {font-size:0.8em;height:200px;overflow:hidden;overflow-y:auto;word-wrap:break-word;word-break:break-all;color:#888;padding: 8px;}

.depot-list .depot-col-callback .title {font-size:14px;height:30px;line-height:30px;padding: 0 8px;border-bottom: 1px solid #e7e7eb;background: #f4f4f4;margin: 0;}
.depot-list .depot-col-callback .content {overflow:hidden;overflow-y:auto;font-size:0.8em;height:200px;word-wrap:break-word;word-break:break-all;color:#888;padding: 8px;}

.depot-list .depot-col-image .title,.depot-list .depot-col-video .title,.depot-list .depot-col-voice .title,.depot-list .depot-col-music .title {font-size:12px;height:30px;line-height:30px;padding: 0 8px;margin: 0;}
.depot-list .depot-col-image .size,.depot-list .depot-col-video .size,.depot-list .depot-col-voice .size  {}
.depot-list .depot-col-image .image,.depot-list .depot-col-video .video,.depot-list .depot-col-voice .voice {height:auto;padding:2%;overflow: hidden;text-align: center}

.depot-list .depot-col-image .image img{height:auto;width:100%;}
.depot-list .depot-col-video .video video{height:200px;width:100%;}
.depot-list .depot-col-voice .voice audio{width:100%;}
.depot-list .depot-col-music .music audio{width:100%;}


.depot-list .depot-col-news .item .item-options{
	text-align:center;display: none;left:0;right:0;top:0;height:100%;position:absolute;color: #fff;height:30px;line-height: 30px;
	background: rgba(80, 80, 80, 0.6) !important;
	filter: progid: DXImageTransform.Microsoft.gradient(GradientType = 0, startColorstr = '#99000000', endcolorstr = '#99000000');
}
.depot-list .depot-col-news .item:hover .item-options{display:block;}
.depot-list .depot-col-news .item .item-options a {color: #fff;padding: 0;vertical-align:middle; padding: 0 15px;}

.depot-edit-form {position: relative;display: none;}
.depot-edit-form-0 {margin-top: 0px;}
.depot-edit-form-1 {margin-top: 169px;}
.depot-edit-form-2 {margin-top: 227px;}
.depot-edit-form-3 {margin-top: 285px;}
.depot-edit-form-4 {margin-top: 343px;}
.depot-edit-form-5 {margin-top: 401px;}
.depot-edit-form-6 {margin-top: 459px;}
.depot-edit-form-7 {margin-top: 517px;}
.depot-edit-form.active {display: block;}
.depot-edit-form .arrow-left,.depot-edit-form .arrow-left:after{width: 0; height: 0; border-style: solid; border-width: 8px 10px 8px 0; border-color: transparent #d1d1d1 transparent transparent; position: absolute; left: -10px; top: 15px;}
.depot-edit-form .arrow-left:after{content: ""; border-right-color: #fff; left: 1px; top: -8px;}

.depot-edit-form .tips {margin: 15px;}