.menu-container {}
.menu-left {border-right: 1px #ccc solid}
.menu-right {}

.menu-items {}
.menu-items .menu-item:hover, .menu-items .menu-subitem:hover {background-color: #f6f6f6;}
.menu-items .menu-item.active, .menu-items .menu-subitem.active {background-color: #eee;}
.menu-items .menu-item {line-height: 40px;display: block; padding: 0 10px 0 10px;border-bottom: 1px #f6f6f6 solid;}
.menu-items .menu-subitem {line-height: 40px;display: block;padding:0 10px 0 30px;border-bottom: 1px #f6f6f6 solid;}
.menu-items .menu-plus {height:40px;margin-top: 30px;}
.menu-tools a {margin: 0 0 0 10px;}

.menu-publish {border-top: 1px #ccc solid;padding: 15px;}
.menu-publish-buttons {}